<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1 class="page-header blue2">Details for Recipe: {{ recipeDetailController.therecipe._id }}</h1>
      <div class="specialText">
        <p><strong>Name:</strong> {{recipeDetailController.therecipe.name}}</p>
        <p><strong>Description:</strong> {{recipeDetailController.therecipe.description}}</p>
        <p> <strong>Image:</strong> {{recipeDetailController.therecipe.image}}</p>
        <p><strong>Prep Time:</strong> {{recipeDetailController.therecipe.prepTime}}</p>
        <p><strong>Cook Time:</strong> {{recipeDetailController.therecipe.cookTime}}</p>
        <p><strong>Directions:</strong> {{recipeDetailController.therecipe.directions[0]}}</p>
        <p><strong>Ingredient Name:</strong> {{recipeDetailController.therecipe.ingredients[0].name}}</p>
        <p><strong>Ingredient Amount:</strong> {{recipeDetailController.therecipe.ingredients[0].amount}}</p><br>
      <p class="indent"><strong>Reviews:</strong></p>
      <div class="indent" ng-repeat="i in recipeDetailController.therecipe.reviews">
        <p><a
          ng-click="recipeDetailController.updateReview(recipeDetailController.therecipe._id, i._id)">Review:
          {{i.description}}</a></p>
        <p>Rating: {{i.rating}}</p>
        <p>Owner: {{i.user}}</p>
        <p>Date: {{i.createDate}}</p>
        <p><a class="red" ng-click="recipeDetailController.deleteReview(recipeDetailController.therecipe._id, i._id)">Delete Review</a></p><br><br>
      </div>
      </div>
      <td>
        <button class="indentLeft specialButton"
                ng-click="recipeDetailController.createReview(recipeDetailController.therecipe._id)">Create Review
        </button>
      </td>

    </div>
  </div>
</div>
